@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
}

:root {
  color-scheme: light dark;

    /* Colores primarios */
  --color-primary: #1677ff;
  --color-primary-dark: #0056b3;

  /* Colores de texto */
  --color-text: #1a1a1a;
  --color-text-secondary: #595959;

  /* Colores de fondo */
  --color-bg: #e6e1d7;
}

body {
  display: block;
  background: var(--color-bg);
  height: 100vh;
}

/* Titulos y párrafos */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Lora', serif;
  margin: 0;
}

/* Textos informativos */
.info-text {
  font-family: 'Inter', 'Arial', sans-serif;
}

/* Promociones */
.promo-text {
  font-family: 'Cinzel', serif;
}