@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
}

:root {
  color-scheme: light dark;

    /* Colores primarios */
  --color-primary: #1677ff;
  --color-primary-dark: #0056b3;

  /* Colores de texto */
  --color-text: #1a1a1a;
  --color-text-secondary: #595959;

  /* Colores de fondo */
  --color-bg: #e6e1d7;
}

body {
  display: block;
  background: var(--color-bg);
  height: 100vh;
}

/* Titulos y párrafos */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Lora', serif;
  margin: 0;
}

/* Textos informativos */
.info-text {
  font-family: 'Inter', 'Arial', sans-serif;
}

/* Promociones */
.promo-text {
  font-family: 'Cinzel', serif;
}

/* Ajustar flechas del Carousel de Ant Design */
.carousel-container .ant-carousel .slick-prev,
.carousel-container .ant-carousel .slick-next {
  font-size: 28px !important; /* tamaño de flecha */
  z-index: 5;
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 0.4) !important;
  border-radius: 50%;
}

.carousel-container .ant-carousel .slick-prev {
  left: 20px; /* acercar más al centro */
}

.carousel-container .ant-carousel .slick-next {
  right: 20px;
}

.carousel-container .ant-carousel .slick-prev:hover,
.carousel-container .ant-carousel .slick-next:hover {
  background: rgba(0, 0, 0, 0.6) !important;
}


::-webkit-scrollbar {
  width: 10px;              /* ancho de la barra */
  height: 10px;             /* alto (para scroll horizontal) */
}

/* 🔹 Fondo de la barra */
::-webkit-scrollbar-track {
  background: #f1f1f1;       /* color de fondo */
  border-radius:18px;
}

/* 🔹 El "pulgar" que se mueve */
::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #888, #555);
  border-radius: 18px;
  transition: background 0.3s ease;
}

/* 🔹 Hover en el pulgar */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #555, #333);
}

/* 🔹 Firefox */
* {
  scrollbar-width: thin;        /* delgado */
  scrollbar-color: #555 #f1f1f1; /* pulgar - track */
}